.main_chat
  .chat_header
    .chat_header__top
      .chat_header__top--title
        group name
      .chat_header__top--member
        Member:
    .chat_header__btn
      =link_to "#",class:"chat_header__btn--icon"do
        Edit
  
  .chat_contents
    .chat_contents__top
      .chat_contents__top--username
        teppei
      .chat_contents__top--datetimes
        2019/10/07/19:12:56
    .chat_contents__message
      this is a first message 

    .form
      = form_for [@group, @message] do |f|
        .form__btn
          = f.text_field :content, class: 'form__btn--message', placeholder: 'type a message'
          = f.label :image, class: 'form__btn--icon' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'form__btn--image--heid'
          = f.submit 'Send', class: 'form__btn--submit'      